.derechosreservados {
    background-color: #9FD996;
    color: #0E2033;
    text-align: left;
    padding: 5px 50px 5px 50px;
    text-transform: uppercase;
    font-size: 15px;
}
@media (max-width:839px) {
    .derechosreservados {
        font-size: 13px;
        text-align: center;
    }
}
@media (max-width:599px) {
    .derechosreservados {
        padding: 10px 0px 10px 0px;
    }
}
