.zindex1{
    z-index: 1;
}
.zindex2 {
    z-index: 2;
}
.zindex3 {
    z-index: 3;
}
.relativeposition {
    position: relative;
}
.absoluteposition {
    position: absolute;
}
.left0 {
    left: 0;
}
.right0 {
    right: 0;
}
.top0 {
    top: 0;
}
.tiendatitles {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
}
@media (max-width: 839px) {
}
@media (max-width: 479px) {
}
