.toolbarstyle {
    color: white;
    font-weight: 300;
}
.logotoolbar {
    height: 25px;
}
.iconotoolbar{
    height: 20px;
}
.lefticon {
    padding-right: 12px;
}
.rightticon {
    padding-left: 12px;
}
.toolbarstyle a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.toolbarstyle a:link {
    text-decoration: none;
}
.toolbarstyle a:visited {
    background-color: cyan;
}
.toolbarstyle a:hover {
    cursor:pointer;
}
.toolbarstyle a:active {
    text-decoration: none;
    background-color: transparent;
}
